# Ignore all subdirectories under scripts (script-template folders)
scripts/*/
# Except for the hooks folder (allows to hook into several script-template scripts)
!scripts/hooks/
# Recursively ignore any file ending with .local.sh (local files which you wont want to commit)
scripts/*.local.sh
scripts/**/*.local.sh